[v-cloak] {
  display: none;
}

header {
  min-height: 60px;
  background-color: #233d75;

  a, .btn-link {
    color: white;

    &:hover {
      color: white;
      text-decoration: none;
      opacity: .8;
    }

    &.back {
      font-size: 20px;
    }
  }
}

.content {
  margin: 40px 0;
}

.fixed-table-toolbar {
  padding: 0 3px;
}

article {
  margin-bottom: 50px;
}

.break-out {
  position: relative;
  width: ~"calc(100vw - 20px)";
  left: ~"calc((100vw - 100%) / -2 + 10px)";
}
